body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  position: relative;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}

.main-navigation {
  width: 100%;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li {
  width: 20%;
  text-align: left;
  margin-left: 6%;
  margin-right: 6%;
}

.site-navigation li:nth-child(2) {
  margin-right: 25%;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000;
  opacity: 0.3;
}

.site-navigation-current a{
  color: #766357;
}

.about-city {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.features-intro {
  display: block;
  width: 440px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding-top: 55px;
}

.features-intro-text {
  display: block;
  line-height: 26px;
  color: #333;
  text-align: center;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 50px;
}

.reasons-list,
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-item,
.features-item {
  line-height: 21px;
  color: #333;
  text-align: center;
}

.reasons-item {
  flex-basis: 23%;
  margin-top: 28px;
}

.photocard {
  flex-basis: 66.7%;
  height: 256px;
  overflow: hidden;
}

.features-item {
  flex-basis: 25%;
  margin-top: 143px;
  margin-bottom: 68px;
}

.reasons-list {
  background-color: #eee;
}

.features-list {
  background-color: #fff;
}

.reasons-title,
.features-title {
  font-size: 21px;
  line-height: 21px;
}

.reasons-title {
  padding: 0 60px;
}

.reasons-text {
  margin-top: 23px;
  margin-bottom: 58px;
}

.reasons-item-blue {
  flex-basis: 33.3%;
  background-color: #81b3d2;
  color: #fff;
  height: 256px;
  margin: 0;
  padding: 0;
}

.booking {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.booking-title {
  display: block;
  width: 440px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 23px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.booking-text {
  display: block;
  width: 440px;
  margin: 0 auto;
  padding-bottom: 45px;
  line-height: 24px;
  color: #333;
  text-align: center;
}

.btn {
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: 2px solid transparent;
}

.btn:hover,
.btn:focus {
  background-color: #604e43;
}

.btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-btn {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
}

.footer {
  position: relative;
}

.main-footer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.catalog-footer {
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.hashtag {
  padding-top: 34px;
  padding-bottom: 38px;
  flex-basis: 33.3%;
  text-align: center;
}

.social-items {
  flex-basis: 33.3%;
}

.developed {
  flex-basis: 33.3%;
  text-align: center;
}
.modal {
  position: relative;
}

.booking-form {
  position: absolute;
  left: 50%;
  bottom: 75px;
  transform: translate(-50%, -50%);
  width: 568px;
  background-color: #fff;
  outline: 2px solid yellow;
  margin: 0;
  padding: 0;
}

.booking-form-wraper {
  width: 460px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
}

.booking-item input {
  font: inherit;
  text-transform: uppercase;
  color: #000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.booking-item label {
  font-weight: 700;
  line-height: 26px;
}

.booking-item input:nth-child(3),
.booking-item input:nth-child(4) {
  text-align: center;
}

.visitors-btn {
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.visitors-btn:hover,
.visitors-btn:focus {
  color: #000;
}

.visitors-btn:active {
  color: #81b3d2;
}

.submit-btn,
.booking-description {
  background-color: #81b3d2;
}

.submit-btn:hover,
.submit-btn:focus,
.booking-description:hover,
.booking-description:focus  {
  background-color: #669ec0;
}

.submit-btn:active,
.booking-description:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.hashtag a {
  color: #000;
  font-size:21px;
  line-height: 26px;
  font-weight: 700;
}

.social-items {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.social-items a {
  color: #333;
}

.developed p {
  line-height: 26px;
}

.filters {
  background-color: #6c99c1;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
  padding: 0;
}

.filter {
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  padding-top: 28px;
}

.filter-items {
  display: flex;
  justify-content: space-around;
  flex-basis: 550px;
  margin-bottom: 25px;
}

.form-wraper {
  display: flex;
  align-items: center;
  width: 40%;
  flex-direction: column;
}

.filter-option {
  margin-left: 45px;
  margin-top: 20px;
}

.filter-option:nth-child(2) {
  margin-top: 25px;
}

.filter input {
  font: inherit;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-input {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  text-align: center;
}

.filter-btn {
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: 400;
  border-radius: 2px;
}

.filter-btn:hover {
  background-color: #fff;
  color: #000;
}

.search-results {
  display: flex;
  align-items: baseline;
  width: 100%;
  padding-bottom: 10px;
}

.results {
  margin-right: 47px;
}

.sorting-item {
  display: inline-block;
  padding-right: 10px;
}

.results {
  margin-top: 31px;
  margin-left: 72px;
}
.search-results,
.hotels {
  background-color: #fefefe;
}

.results {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting {
  font-size: 12px;
  line-height: 18px;
}

.sorting-items {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  margin-left: 20px;
}
.sorting-item-up {
  margin-left: 470px;
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.sorting-item a:active {
  color: #000;
  border-bottom: none;
}

.sorting-item-up a,
.sorting-item-down a {
  color: #cacaca;
  border-bottom: none;
}

.sorting-item-up a:hover,
.sorting-item-down a:hover {
  color: #231f20;
}

.sorting-item-up a:active,
.sorting-item-down a:active {
  color: #81b3d2;
}

.sorting-item-current a,
.sorting-item-down a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels ul {
  list-style: none;
}

.hotel {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotels-wraper {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 72px;
  outline: 2px solid gold;

}

.hotel-items {
  margin: 0;
  padding: 0;
  width: 423px;
  margin-bottom: 0;
  margin-left: 30px;
  outline: 2px solid blue;
}

.hotel-title {
  margin: 0;
}

.hotel-description {
  padding-top: 5px;
}

.hotel-type {
  display: inline-block;
  width: 110px;
  margin: 0;
  padding: 0;
  outline: 1px solid red;

}

.hotel-price {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 140px;
  outline: 1px solid red;

}

.hotel-title a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  margin-top: 0;
  color: #333;
}

.hotel-rating {
  color: #666;
  background-color: #f2f2f2;
}
