body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation {
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 15px 71px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 20%;
  text-align: left;
  white-space: nowrap;
}

.site-navigation li:nth-child(2) {
  margin-right: 115px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000;
  opacity: 0.3;
}

.site-navigation-current a{
  color: #766357;
}

.about-city {
  background-color: #fff;
}

.about-bg img {
  display: block;
}

.about-bg {
  position: relative;
  margin-bottom: 60px;
}

.about-bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/intro-shape-1200.png");
  background-repeat: no-repeat;
}

.features-intro {
  width: 440px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.features-intro-text {
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 50px;
}

.reasons-list,
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.reasons-list {
  background-color: #eee;
}

.features-list {
  padding: 140px 0 68px 0;
  background-color: #fff;
}

.photocard img {
  display: block;
}

.photocard {
  flex-basis: 66.7%;
  overflow: hidden;
}

.reasons-item,
.features-item {
  line-height: 21px;
  color: #333;
  text-align: center;
  flex-basis: 30%;
}

.reasons-item {
  padding-top: 48px;
  padding-bottom: 57px;
}

.features-list {
  padding: 0;
  margin: 0;
  padding-top: 162px;
  padding-bottom: 80px;
}

.features-title {
  position: relative;
}

.features-item:first-child .features-title::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-motel.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(2) .features-title::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(3) .features-title::before {
  content: "";
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.features-text {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.reasons-title,
.features-title {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.reasons-title {
  width: 151px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.reasons-text {
  margin: 0 auto;
  width: 280px;
  padding-top: 8px;
}

.reasons-item-blue:nth-child(2) .reasons-text {
  width: 320px;
}

.reasons-item-blue {
  flex-basis: 33.3%;
  background-color: #81b3d2;
  color: #fff;
}

.booking {
  background-color: #fff;
}

.booking-title {
  width: 440px;
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 23px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.booking-text {
  width: 440px;
  margin: 0 auto;
  padding-bottom: 47px;
  line-height: 24px;
  color: #333;
  text-align: center;
}

.btn {
  display: inline-block;
  font: inherit;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
  background-color: #766357;
}

.btn:hover,
.btn:focus {
  background-color: #604e43;
}

.btn:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-btn {
  display: block;
  margin: 0 auto;
  padding: 30px 140px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  border: none;
}

.modal {
  position: absolute;
  left: 50%;
  bottom: 206px;
  transform: translateX(-50%);
  background-color: #fff;
  width: 568px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
}

.booking-form {
  display: flex;
  flex-wrap: wrap;
  width: 458px;
  margin: 40px 55px;
}

.booking-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 19px;
}

.booking-item:nth-child(1)::after,
.booking-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  top: 8px;
  right: 6px;
  opacity: 0.5;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
}

.booking-item:nth-child(3),
.booking-item:nth-child(4) {
  width: 50%;
  margin-top: 15px;
}

.booking-item input {
  display: block;
  position: relative;
  font: inherit;
  width: 325px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
  padding: 5px;
  padding-left: 13px;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.booking-item label {
  font-weight: 700;
  line-height: 26px;
}


.booking-item input:nth-child(3),
.booking-item input:nth-child(4) {
  width: 95px;
  text-align: center;
}

.booking-item:last-of-type label {
  margin-left: 50px;
}

.visitors-btn {
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.visitors-btn:hover,
.visitors-btn:focus {
  color: #000;
}

.visitors-btn:active {
  color: #81b3d2;
}

.submit-btn,
.booking-description {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}

.submit-btn {
  display: block;
  margin-top: 35px;
  margin-bottom: 15px;
  width: 100%;
  padding: 16px 0;
}

.submit-btn:hover,
.submit-btn:focus,
.booking-description:hover,
.booking-description:focus  {
  background-color: #669ec0;
}

.submit-btn:active,
.booking-description:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  background-color: #6c99c1;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
  color: #fff;
  padding: 28px 70px 6px 70px;
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
}

.filter {
  display: flex;
}

.filter-items {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-options {
  margin-right: 120px;
}

.filter-option {
  padding-bottom: 25px;
  padding-left: 42px;
}

.filter-range {
  margin-left: 220px;
}

.filter input {
  font: inherit;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;
  cursor: pointer;
}

.filter-option label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter input:checked + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-on.svg);
  z-index: 1;
}

.filter legend {
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 700;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 91px;
  padding-top: 5px;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 55px;
  padding-right: 10px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.filter-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 35px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.filter-checkbox:disabled + label {
  color: #6a6a6a;
}

.filter-btn:hover {
  background-color: #fff;
  color: #000;
}

.search-results {
  display: flex;
  align-items: baseline;
  padding: 30px 73px;
}

.results {
  padding: 0;
  margin: 0;
  padding-right: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-item {
  display: inline-block;
  padding-right: 10px;
}

.search-results,
.hotels {
  background-color: #fefefe;
}

.sorting {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 18px;
  margin-right: 40px;
}

.sorting-items {
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.sorting-item {
  padding-right: 30px;
}

.sorting-item:last-of-type .toggle-btn {
  transform: rotate(180deg);
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.toggle .sorting-item {
  padding: 0;
  margin: 0;
}

.toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 35px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11px;
  height: 10px;
}

.toggle a {
  border-bottom: none;
}

.sorting-item a:active {
  color: #000;
  border-bottom: none;
}

.toggle-btn path,
.toggle-btn path {
  fill: #cacaca;
}

.toggle-btn:hover path {
  fill: #231f20;
}

.toggle-btn:active path,
.toggle-btn-current path {
  fill: #81b3d2;
}

.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels img {
  display: block;
  padding-top: 5px;
}

.hotels ul {
  list-style: none;
}

.hotels-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.hotel {
  display: flex;
  flex-basis: 100%;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-left: 72px;
  padding-right: 72px;
  border-top: 1px solid #e5e5e5;
}

.hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-wraper {
  margin-left: 30px;
}

.hotel-title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.hotel-title a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-title a:hover {
  color: #81b3d2;
}

.hotel-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  padding: 0;
  margin: 0;
  color: #333;
  margin-bottom: 14px;
}

.hotel-type {
  display: inline-block;
  width: 110px;
}

.hotel-price {
  display: inline-block;
  width: 140px;
}

.hotel-booking {
  margin: 0;
  padding: 0;
}

.booking-description {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
  margin-right: 3px;
}

.booking-btn {
  padding: 3px 17px;
  border: none;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.hotel-rating {
  display: block;
  padding: 3px 14px;
  color: #666;
  background-color: #f2f2f2;
}

.hotel-stars {
  display: flex;
  justify-content: flex-end;
  width: 110px;
  margin-top: 4px;
}

.hotel-stars span {
  width: 18px;
  height: 17px;
  margin-left: 5px;
  background-image: url(../img/rating-star.svg);
  background-repeat: no-repeat;
}

.main-footer {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  padding: 36px 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer {
  display: flex;
  padding: 36px 0;
  background-color: #fff;
}

.hashtag {
  padding-top: 10px;
  flex-basis: 33.3%;
  margin: 0;
  text-align: center;
}

.developed {
  padding-top: 5px;
  flex-basis: 33.3%;
  margin: 0;
  text-align: center;
}

.hashtag a {
  color: #000;
  font-size:21px;
  line-height: 26px;
  font-weight: 700;
}

.social-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  padding-bottom: 8px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn:active path {
  opacity: 0.3;
}

.social-items a {
  color: #333;
}

.developed b {
  font-weight: inherit;
  line-height: 26px;
}

.html-academy {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.html-academy:hover path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: #bdbbbc;
}
