body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.main-navigation {
  padding: 15px 6%;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  min-width: 20%;
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 11%;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000;
  opacity: 0.3;
}

.site-navigation-current a {
  color: #766357;
}

.about-city {
  background-color: #fff;
}

.about-bg img {
  display: block;
}

.about-bg {
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.about-bg::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 57px;
  bottom: 0;
  background-image: url("../img/intro-shape-1200.png");
  background-size: 100% 57px;
  background-repeat: no-repeat;
}

.features-intro {
  width: 440px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
}

.features-intro-text {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 50px;
  line-height: 26px;
  text-align: center;
}

.reasons-list,
.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reasons-list {
  background-color: #eee;
}

.features-list {
  background-color: #fff;
}

.photocard {
  position: relative;
  width: 66.7%;
  overflow: hidden;
}

.photocard img {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reasons-item,
.features-item {
  max-width: 33.3%;
  text-align: center;
  line-height: 21px;
  color: #333;
}

.reasons-item {
  padding-top: 48px;
  padding-bottom: 57px;
}

.features-item {
  padding-top: 162px;
  padding-bottom: 80px;
}

.features-title {
  position: relative;
}

.features-item:first-child .features-title::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/icon-motel.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(2) .features-title::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/icon-food.svg");
  background-repeat: no-repeat;
}

.features-item:nth-child(3) .features-title::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
}

.features-text {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.reasons-title,
.features-title {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
}

.reasons-title {
  margin: 0 auto;
  padding-bottom: 10px;
  max-width: 38%;
}

.reasons-text {
  margin: 0 auto;
  padding-top: 8px;
  max-width: 270px;
}

.reasons-item-blue .reasons-text {
  max-width: 305px;
}

.reasons-item-blue .reasons-title {
  max-width: 151px;
}

.reasons-item-blue {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  color: #fff;
  background-color: #81b3d2;
}

.booking {
  text-align: center;
  background-color: #fff;
}

.booking-title {
  margin: 0 auto;
  padding-top: 52px;
  padding-bottom: 23px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

.booking-text {
  margin: 0 auto;
  padding-bottom: 47px;
  text-align: center;
  line-height: 24px;
  color: #333;
}

.btn {
  vertical-align: middle;
  font: inherit;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #766357;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: #604e43;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-btn {
  position: relative;
  padding: 30px 140px;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  border: none;
  z-index: 10;
}

.modal {
  position: absolute;
  left: 50%;
  bottom: 205px;
  margin-left: -284px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

 @-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

 @keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}

@-webkit-keyframes hiding {
  0%, 50% {
       -webkit-transform: translate(0, -120px);
               transform: translate(0, -120px);
               opacity: 0;
   }
   100% {
       -webkit-transform: translate(0, 0px);
               transform: translate(0, 0px);
               opacity: 1;
   }
}

@keyframes hiding {
  0%, 50% {
       -webkit-transform: translate(0, -120px);
               transform: translate(0, -120px);
               opacity: 0;
   }
   100% {
       -webkit-transform: translate(0, 0px);
               transform: translate(0, 0px);
               opacity: 1;
   }
}

.animation {
  -webkit-animation: hiding 0.6s ease-out;
          animation: hiding 0.6s ease-out;
}

.modal-hide {
  display: none;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 43px 55px;
  max-width: 458px;
}

.booking-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 18px;
  width: 100%;
}

.calendar-btn {
  position: absolute;
  top: 6px;
  right: 2px;
  background-color: transparent;
  border: none;
}

.calendar-btn:hover path,
.calendar-btn:focus path {
  fill: #000;
}

.calendar-btn:active path {
  fill: #81b3d2;
}

.booking-item input {
  padding: 6px 40px 6px 12px;
  font: inherit;
  width: 290px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  background-color: #f2f2f2;
  border: 2px solid transparent;
}

.booking-item input:hover {
  background-color: #ebebeb;
}

.booking-item input:focus {
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.booking-item label {
  font-weight: 700;
  line-height: 26px;
}

.booking-item:nth-child(3) input {
  padding: 6px 0;
  width: 37px;
  text-align: center;
}

.booking-item:nth-child(3) label {
  margin-right: 40px;
}

.booking-item:nth-child(3) label:nth-of-type(2) {
  margin-left: 40px;
}

.amount-btn {
  width: 37px;
  height: 37px;
  font-size: 24px;
  font-weight: 700;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
}

.amount-btn:hover {
  color: #000;
}

.amount-btn:active {
  color: #81b3d2;
}

.submit-btn,
.booking-description {
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  border: none;
}

.submit-btn {
  margin-top: 35px;
  margin-bottom: 12px;
  padding: 16px 0;
  width: 100%;
}

.submit-btn:hover,
.submit-btn:focus,
.booking-description:hover,
.booking-description:focus  {
  background-color: #669ec0;
}

.submit-btn:active,
.booking-description:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.filters {
  padding: 28px 6% 6px 6%;
  color: #fff;
  background-color: #6c99c1;
  background-image: url("../img/filter-bg.jpg");
  background-repeat: no-repeat;
}

.filter ul {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  list-style: none;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-items {
  padding: 0;
  margin: 0;
  border: none;
}

.filter-options {
  margin-right: 120px;
}

.filter-option {
  padding-bottom: 25px;
  padding-left: 40px;
}

.filter-range {
  margin-left: auto;
}

.filter input {
  font: inherit;
  text-transform: uppercase;
}

.filter-option label {
  position: relative;
  cursor: pointer;
}

.filter-option label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

.filter-checkbox:checked + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-off-disabled.svg);
}

.filter-checkbox:disabled:checked + label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 23px;
  left: -40px;
  background-image: url(../img/checkbox-disabled.svg);
}

.filter legend {
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 700;
}

.price-controls {
  position: relative;
  margin-bottom: 20px;
  height: 32px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
}

.price-controls .min-price,
.price-controls .max-price {
  padding-top: 5px;
  width: 91px;
}

.price-controls .min-price {
  padding-left: 65px;
}

.price-controls .max-price {
  padding-left: 55px;
  padding-right: 10px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -9px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.filter-btn {
  display: block;
  margin: 0 auto;
  padding: 5px 35px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
}

.filter-btn:hover {
  background-color: #fff;
  color: #000;
}

.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 30px 6%;
}

.results {
  padding: 0;
  margin: 0;
  margin-right: 47px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-item {
  display: inline-block;
  vertical-align: top;
  padding-right: 10px;
}

.search-results,
.hotels {
  background-color: #fefefe;
}

.sorting {
  padding: 0;
  margin: 0;
  margin-right: 40px;
  font-size: 12px;
  line-height: 18px;
}

.sorting-items {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  line-height: 18px;
}

.sorting-item {
  padding-right: 30px;
}

.order order-btn:last-of-type {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sorting-item a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item a:hover {
  color: #81b3d2;
}

.order {
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.order a {
  margin-left: 8px;
  border-bottom: none;
}

.sorting-item a:active {
  color: #000;
  border-bottom: none;
}

.order-btn path,
.order-btn path {
  fill: #cacaca;
}

.order-btn:hover path {
  fill: #231f20;
}

.order-btn:active path,
.order-btn-current path {
  fill: #81b3d2;
}

.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}

.hotel-image img {
  display: block;
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 6%;
  padding-right: 6%;
  border-top: 1px solid #e5e5e5;
}

.hotel:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.hotels-wraper {
  margin-left: 30px;
}

.hotel-title {
  padding: 0;
  margin: 0;
  margin-top: -4px;
  margin-bottom: 6px;
}

.hotel-name {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name:hover {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-description {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  color: #333;
}

.hotel-type {
  display: inline-block;
  vertical-align: top;
  width: 110px;
}

.hotel-price {
  display: inline-block;
  vertical-align: top;
  width: 140px;
}

.hotel-booking {
  margin: 0;
  padding: 0;
}

.booking-description {
  padding: 5px 16px;
  margin-right: 3px;
  font-size: 14px;
  line-height: 21px;
}

.booking-btn {
  padding: 3px 17px;
  border: none;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
}

.hotel-rating {
  padding: 3px 14px;
  color: #666;
  background-color: #f2f2f2;
}

.hotel-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 110px;
}

.hotel-stars .star {
  width: 18px;
  height: 17px;
  margin-left: 5px;
  background-image: url(../img/rating-star.svg);
  background-repeat: no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  padding-top: 37px;
  padding-bottom: 43px;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.main-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  margin: 0;
  text-align: center;
}

.developed {
  -ms-flex-preferred-size: 33.3%;
      flex-basis: 33.3%;
  margin: 0;
  text-align: center;
}

.hashtag a {
  color: #000;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.social-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn:active path {
  opacity: 0.3;
}

.social-items a {
  color: #333;
}

.developed b {
  font-weight: inherit;
  line-height: 26px;
}

.html-academy {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

.html-academy:hover path {
  fill: #81b3d2;
}

.html-academy:active path {
  fill: #bdbbbc;
}

.map iframe {
  position: relative;
  z-index: 2;
  border: none;
  width: 100%;
  height: 593px;
}

.map img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}